@import "../assets/color.css";

.Stoper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.Stoper h1 {
  display: flex;
  height: 10vh;
  font-family: "Courier New";
  font-size: 5em;
  font-weight: 1000;
  color: var(--color-text-main);
}
.Stoper .buttonBox {
  display: flex;
  width: 50rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Stoper button {
  margin: 0 1rem;
  display: block;
  width: 30%;
  background-color: var(--color-accent);
  color: var(--color-text-main);
}
.Stoper button:hover {
  display: block;
  background-color: var(--color-accent-hover);
  color: var(--color-text-main);
}
